@import 'src/app/theme/breakpoints.scss';
@import "src/app/theme/variables.scss";

.search_button {
  margin-left: auto;
  button {
    width: 275px;
    height: 40px;
    background-color: $button-color;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 20px;
    @include respond-to(medium) { 
      width: 354px;
    }
    @include respond-to(small) { 
      width: 440px;
    }
  }
}
.nav{
  @include respond-to(medium) { 
    flex-direction: column;
  }
}

.load-more{
  display: flex;
  justify-content: flex-end;
  background-color: $main-color;
  border: none;
  width: 100%;
}